<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.encore.actionnow">

    <application
        android:name=".app.SocialSDKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Weibo -->
        <activity
            android:name=".SocialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WeChat -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104664609" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share"
            android:parentActivityName=".SocialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- 此处会与SDK内部定义冲突 -->
            <!--<intent-filter>-->
            <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.encore.actionnow.SocialActivity" />
        </activity>
        <activity
            android:name=".ShareAllActivity"
            android:label="@string/title_activity_share_all"
            android:parentActivityName=".SocialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.encore.actionnow.SocialActivity" />
        </activity>
        <activity
            android:name=".SsoActivity"
            android:label="@string/title_activity_sso"
            android:parentActivityName=".SocialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.encore.actionnow.SocialActivity" />
        </activity>
        <activity
            android:name=".SsoAllActivity"
            android:label="@string/title_activity_sso_all"
            android:parentActivityName=".SocialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.encore.actionnow.SocialActivity" />
        </activity>
    </application>

</manifest>
